@tailwind base;
@tailwind components;
@tailwind utilities;

.message-content {
    position: relative; /* Ensure relative positioning for proper padding application */
    padding-left: 2rem; /* Indent all content */
}

.message-content::first-line {
    font-weight: bold; /* Any style you want to apply to the first line */
}

/* If you need the container to not have the padding affect other layout parts */
.message-container {
    margin-left: -2rem; /* Counteract the padding effect on the overall layout */
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
  }
  
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 100, 0, 0.65) 0%, rgba(0, 0, 0, 1) 100%); 
    z-index: 0;
}


